name: Lint

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  # Replace pull_request with pull_request_target if you
  # plan to use this action with forks, see the Limitations section
  pull_request:
    branches:
      - main


env: # environment variables (available in any part of the action)
  NODE_VERSION: 19
  PYTHON_VERSION: 3.11

jobs:
  run-js-linters:
    name: Run JS linters
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frontend

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      # ESLint and Prettier must be in `package.json`
      - name: Install Node.js dependencies
        run: npm ci

      - name: Run eslint
        run: npm run lint

  run-python-linters:
    name: Run Python linters
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Run black
        uses: psf/black@stable
